body{
	background:#1C1C1C;
	padding-top:100px;
	padding-left: 40px;
}
article{
	padding:0px;
	transition:width 1s, height 1s;
}
article:hover{
	cursor:pointer;
}
.articleDesign{
	width:200px;
	height:200px;
	border-radius:30px;
	display: inline-block;
	margin-left:100px;
	border:1px solid black;
	box-shadow:-1px -1px 5px black;
}
#articleChamativos{
	background:linear-gradient(to left top,#e4e4e4,#1E90FF);
}
#articleCardapios{
	background:linear-gradient(to left top,#1E90FF,#e4e4e4);
}
#articleInformativos{
	background:linear-gradient(to left bottom,#1E90FF,#e4e4e4);
}
.iconesDesign{
	opacity:1;
	position:relative;
	width:100%;
	height:100%;
	transition:opacity 1s;
}
.blocoTitulo{
	position:absolute;
	width:200px;
	height:200px;
	
}
.blocoTitulo span{
	font-family: arial,sans-serif;
	color:white;
	font-weight:bold;
}