body{
	padding-top:652px;
	transition:background 1s;
}
article{
	height:600px;
	width:100%;
	margin-bottom:100px;
}
article span{
	position:relative;
	z-index:100;
}
/*Left*/
.imageBackgroundArticleLeft{
	width:800px;
	height:600px;
	opacity:0.2;
	transition:opacity 2s;
}
.tituloArticleLeft{
	transition:left 2s,opacity 3s;
	top:-80%;
	color:white;
	font-weight: bold;
	font-size:40pt;
	font-family: verdana;
	left:50%;
}
.conteudoArticleLeft{
	transition:left 2s,opacity 3s;
	top:-70%;
	left:110%;
	color:white;
	font-family: arial;
	font-weight:100;
	font-size:26pt;
}
.iconeArticleLeft{
	transition:left 2s,opacity 3s;
	position:relative;
	top:-130%;
	opacity:0;
	left:-27%;
}
.iconeArticleLeft img{
	width:400px;
	height:400px;
}



/*Right*/

.imageBackgroundArticleRight{
	width:900px;
	height:600px;
	opacity:0.2;
	transition:opacity 2s;
	position:relative;
	left:29%;
}
.tituloArticleRight{
	transition:left 2s,opacity 3s;
	top:-80%;
	color:white;
	font-weight: bold;
	font-size:40pt;
	opacity:0.2;
	font-family: verdana;
	left:-150%;
}
.conteudoArticleRight{
	transition:left 2s,opacity 3s;
	top:-70%;
	left:-50%;
	color:white;
	opacity:0.2;
	font-family: arial;
	font-weight:100;
	font-size:26pt;
}
.iconeArticleRight{
	transition:left 2s,opacity 3s;
	position:relative;
	top:-125%;
	left:100%;
	opacity:0.2;
}
.iconeArticleRight img{
	width:600px;
	height:600px;
}